
.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0, 2);
}

.error {
    color: red;
  }

.selected-grid {
    /* background-color: gray; */
    opacity: 0.5; 
}
.selected-img {
    /* filter: grayscale(100%); */
    opacity: 0.5; 
}
